body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  footer {
    background-color: #d6663a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  footer p {
    margin-bottom: 10px;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .social-icons li {
    margin: 0 10px;
  }

  .social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .social-icons a i {
    margin-right: 5px;
  }

  .social-icons a:hover {
    color: #ff1493;
  }

  footer p:last-child {
    margin-top: 10px;
  }