body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    border: 1px solid #da6a0f;
  }

  h2 {
    color: #a32b0d;
    margin: 10px 0;
  }

  img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    margin: 5px 0;
  }

  button {
    width: 100px;
    height: 30px;
    background-color: #d15b24;
    color: #fff;
    border-radius: none;
    margin-top: 10px;
    cursor: pointer;

  }

  button:hover {
    background-color: #c0392b;
  }